.form-group{
    margin-bottom: 20px;
    float: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}




.form-control{
    padding-left: 30px;
    margin-left: 50px;
}

.invalid  {
    border: 3px solid red;
  }

#friendlist{
    background-color: aqua;
    text-align: center;
}  