.form-group{
    margin-bottom: 20px;
    float: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.control-label{
    /* float:right; */
}


.form-control{
    padding-left: 30px;
    margin-left: 50px;
}

.invalid  {
    border: 3px solid red;
  }